@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*general styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic style*/
    color: #000095

}
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1{
    font-family:Edu TAS Beginner,cursive;
    color: #000095
}

#menu {
font-size: 120%;
list-style-type: none;
font-family:Edu TAS Beginner,cursive;

}

#menu li{
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #000095;
}

/*dropdown navbar*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000095;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
font-size: 2rem;
}


main {
background-color: yellow;
/* push the footer down*/
flex: 1 0 auto;
margin-top: 47px;

}

footer {
background-color: red;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
        
    }

    #menu > li {
    padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin-top: 0 0.5rem;
    }

    main {
        /*push main content down*/
        margin-top: 79px;
    }