p {
    color: blue;
}


/* menu */
li {

    display: inline-block;
    float: none;
    position: relative;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 10px;
    
    
    
}
ul {
    list-style-type: none;
}

nav {
    text-align: center;
}
  
/* main page*/

#mainpage {
    background: url("../images/gorilla\ close\ up.jpg")
    background-color: blue;

}